@import "../../assets/css/color.scss";

.confirmation {
  .confirmation-message {
    background: $primary-color;
    color: $additional-color;
    text-align: left;
    padding: 30px 25px;
    margin: 5px 5px 20px 5px;
    border: 1px solid var(--bs-primary-border-subtle);
    .bi {
      &.bi-check-circle {
        font-size: 70px;
      }
    }
  }
  .badge {
    color: $additional-color;
    background: $tertiary-color;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      background: var(--bs-gray);
      opacity: 0.6;
      width: 50px;
      height: 1px;
      content: "";
      top: 14px;
    }

    &::before {
      left: -64px;
    }
    &::after {
      right: -64px;
    }

    p {
      float: left;
      margin: 5px;
    }
    .circle {
      background: $additional-color;
      color: $tertiary-color;
      border-radius: 100%;
      display: block;
      width: 20px;
      height: 20px;
      float: left;
      font-size: 18px;
    }
  }

  .card {
    margin: 0px;
    align-self: center;
    border-radius: 12px;
    @media screen and (min-width: 992px) {
      margin: 20px;
    }

    &-header {
      background: var(--bs-white);
      padding: 24px 10px;
      &--title {
        font-size: 20px;
        padding-bottom: 0px;
      }
      p {
        text-transform: lowercase;
        margin: 0px;
      }
      &::first-letter {
        text-transform: capitalize;
      }
    }
    &-body {
      padding: 15px 0;
      &--car {
        border-bottom: var(--bs-card-border-width) solid
          var(--bs-card-border-color);
        padding: 15px 0;
      }

      &--img {
        margin-left: 10px;
        img {
          object-fit: cover;
          height: 70px;
          width: 70px;
        }
      }

      &-content {
        text-align: left;
        padding: 10px 0 0 15px;
        &--title {
          font-size: 14px;
          font-weight: 700;
          margin: 0;
        }
        &--text {
          font-size: 12px;
          margin: 0;
        }
      }
      &--fees {
        padding: 16px;

        p {
          margin: 6px 0px;
        }
        li {
          padding: 0px;
        }
        &-title {
          float: left;
          --bs-text-opacity: 1;
          color: rgba(0, 0, 0, 0.5);
          font-size: 14px;
        }
        &-value {
          font-weight: 700 !important;
          float: right !important;
          --bs-text-opacity: 1;
          color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
          font-size: 14px;
        }
      }
      &--btn {
        padding: 5px 10px;
      }
    }
  }
}
