.App {
  text-align: center;

  .personal-form {
    margin: 40px auto;
  
    &--fees {
      &-title {
        float: left;
        --bs-text-opacity: 1;
        color: rgba(0, 0, 0, 0.5);
      }
      &-value {
        font-weight: 700 !important;
        float: right !important;
        --bs-text-opacity: 1;
        color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
      }
    }
  
    &-submit {
      border-radius: 20px;
      padding: 10px 30px;
      text-transform: uppercase;
    }
  }
}







